:root { 
    /*---------------------------------------
    ---------------PUBLIC VARS---------------
    ---------------------------------------*/

    /*Colour*/
    --site-color5 :  rgba(0, 56, 63, 1); 
    --site-color4 :  rgba(0, 89, 91, 1); 
    --site-color3 :  rgba(0, 114, 105, 1); 
    --site-color2 :  rgba(0, 140, 114, 1); 
    --site-color1 :  rgba(2, 165, 117, 1); 


    /*Shadow*/
    --shadow-normal: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    --shadow-hover: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    /*Border-radius*/
    --border-radius-normal: 15px;
    --border-radius-hover: 20px;
}

body {
    background-color: var(--site-background-colour);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overscroll-behavior-x: none;
    user-select: none;
    color: white;
    margin:0; 
}


